<div id="outer" style="border: 1px solid #333; width: {{outerWidth}}px; height: {{outerHeight}}px;">
	<div id="inner" style="border: 1px solid lime; width: {{innerWidth}}px; height: {{innerHeight}}px;">Inner</div>
</div>