<form id="nameForm">
	<input type="text" id="item" name="item" />
</form>
<ul id="list">
	{{#each items}}<li id={{id}}>{{name}}</li>{{/each}}
</ul>
<form id="colorForm">
	<input type="text" id="color" name="color" />
</form>
<ul id="colors">
	{{#each colors}}<li id={{id}}>{{color}}</li>{{/each}}
</ul>
