.type-block {
	vertical-align: top;
	box-sizing: border-box;
	border: 1px solid #333;
	width: 160px;
	height: 100px;
	text-align: center;
	display: inline-block;
	position: relative;
}

.type-initials {
	font-size: 24px;
	font-weight: bold;
}

.type-name {
	font-size: 16px;
}

